<div class="st_container image_cont">
  <div class="st_container_content">
    <%= image_tag @wind_generator.photo_url(:default) %>
  </div>
</div>

<div class="st_container charts_cont">
  <div class="st_container_content">
    <h2 class="text_center"><%= @wind_generator.title %>(<%= @wind_generator.latitude.round(2) %>
      , <%= @wind_generator.longitude.round(2) %>)</h2>

    <div class="charts">
        <%= render 'charts' %>
    </div>


  </div>
</div>

<div class="clear">

</div>

<div class="st_container characteristic_cont">
  <div class="st_container_content">
    <table>
      <thead>
      <tr>
        <th colspan="3" style="text-align: center;">Мощность, Вт/ч</th>
        <th colspan="3" style="text-align: center;">Скорость ветра, м/с</th>
      </tr>
      <tr>
        <th>Мин.</th>
        <th>Макс.</th>
        <th>Текущаяя</th>
        <th>Мин.</th>
        <th>Макс.</th>
        <th>Текущаяя</th>
      </tr>
      </thead>

      <tr>
        <td><%= @wind_generator.min_rated_power %></td>
        <td><%= @wind_generator.max_rated_power %></td>
        <td id="current_power"><%=  @wind_generator.current_power %></td>
        <td><%= @wind_generator.min_rated_wind_speed %></td>
        <td><%= @wind_generator.max_wind_speed %></td>
        <td id="current_wind"><%= @wind_generator.current_wind_speed %></td>
      </tr>
    </table>
  </div>
</div>

<script>
    window.onload = function () {
        <%= render 'wind_generators/build_charts.js.erb' %>
    }
</script>

<%= subscribe_to  "#{show_chanel(@wind_generator)}" %>




