<%= simple_nested_form_for [:admin, @wind_generator], :html => {:class => 'form-horizontal'} do |f| %>
    <%= f.input :title %>
    <%= f.input :min_rated_power %>
    <%= f.input :max_rated_power %>
    <%= f.input :min_rated_wind_speed %>
    <%= f.input :max_wind_speed %>
    <%= f.association :region, :prompt => "Choose Region" %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>

    <%= f.simple_fields_for :notifications do |notification_form| %>
        <%= notification_form.input :email %>
        <%= notification_form.input :condition, :wrapper_html => { :class => 'notification_condition_select' }  do %>
            <%= notification_form.select :condition,
                                         Notification::CONDITIONS.map { |k,v| [v, k] }
            %>
        <% end %>
        <div class="notification_level" style="<%= 'display:none' if notification_form.object.condition != 'min_power' && notification_form.object.condition.present? %>">
          <%= notification_form.input :level %>
        </div>
        <%= notification_form.link_to_remove "Remove this notification", :class =>'btn btn-danger nested_link' %>
    <% end %>
    <%= f.link_to_add "Add a notification", :notifications, :class =>'btn btn-success nested_link' %>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  admin_wind_generators_path, :class => 'btn' %>
    </div>
<% end %>
